Language:      Cpp
BasedOnStyle:  Google
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Right
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
  AfterObjCDeclaration: false
ColumnLimit: 120
Cpp11BracedListStyle: true
FixNamespaceComments: true
IndentWidth: 4
# InsertBraces: true <-- clang-format 15
NamespaceIndentation: All
# PackConstructorInitializers: NextLine <-- clang-format 14
SortIncludes: true
SortUsingDeclarations: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeParens: ControlStatements
